<mat-nav-list>
    <mat-list-item routerLink="/layout/about" routerLinkActive="active">
      <mat-icon mat-list-icon>person</mat-icon>
      <div fxFlex="10"></div>
      <div  class="sidenav-item">
        <h5 class="lead">About</h5>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="/layout/services" routerLinkActive="active">
      <mat-icon mat-list-icon>settings</mat-icon>
      <div fxFlex="10"></div>
      <div  class="sidenav-item">
        <h5 class="lead">Services</h5>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="/layout/contact" routerLinkActive="active">
      <mat-icon mat-list-icon>local_phone</mat-icon>
      <div fxFlex="10"></div>
      <div  class="sidenav-item">
        <h5 class="lead">Contact</h5>
      </div>
    </mat-list-item>
  </mat-nav-list>